.container {
  max-width: 1444px;
  margin: 0 auto;
}

.inputs_search_filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
}

.input_search {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 2px rgb(213, 211, 211);
  display: flex;
  align-items: center;
}

.input_search_icon {
  width: 2rem;
  height: 57px;
  padding: 0 1rem 0 1rem;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  background-color: rgb(255, 255, 255);
  color: rgb(108, 108, 109);
}

.input_search_input {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  font-size: 0.875rem;
  color: rgb(108, 108, 109);
}

::placeholder {
  font-size: 1rem;
  color: rgb(108, 108, 109);
}

.input_filter_region {
  margin-left: auto;
}

@media screen and (max-width: 470px) {
  .input_filter_region {
    margin-top: 1rem;
    margin-left: 0;
  }
}

/* dropdown menu */
/*Style for the first level menu bar*/

.input_filter_region ul#menu {
  height: 3em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: 0;
  padding-top: 10px;
  width: 180px;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 2px rgb(213, 211, 211);
  background: rgb(255, 255, 255);
  color: rgb(75, 75, 76);
}

.input_filter_region ul#menu > li {
  float: left;
  list-style-type: none;
  position: relative;
}

.input_filter_region label {
  position: relative;
  display: block;
  padding: 0 18px 0 12px;
  line-height: 3em;
  transition: background 0.3s;
  cursor: pointer;
}

.input_filter_region label:after {
  content: "";
  position: absolute;
  display: block;
  top: 22px;
  left: 160px;
  right: 5px;
  width: 0;
  height: 0;
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-bottom: 0 solid rgba(3, 3, 3, 0.5);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: border-bottom 0.1s, border-top 0.1s 0.1s;
}

.input_filter_region input:checked ~ label:after {
  border-top: 0 solid rgba(14, 1, 1, 0.5);
  border-bottom: 4px solid rgba(19, 3, 3, 0.5);
  transition: border-top 0.1s, border-bottom 0.1s 0.1s;
}

/*hide the inputs*/
.input_filter_region input {
  display: none;
}

/*show the second levele menu of the selected voice*/
.input_filter_region input:checked ~ ul.submenu {
  max-height: 300px;
  transition: max-height 0.5s ease-in;
}

/*style for the second level menu*/
ul.submenu {
  width: 180px;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 2px 2px rgb(213, 211, 211);
  max-height: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  background: rgb(255, 255, 255);
  transition: max-height 0.5s ease-out;
  position: absolute;
  min-width: 100%;
}

.input_filter_region ul.submenu li a {
  display: block;
  padding: 12px;
  color: rgb(77, 11, 11);
  text-decoration: none;
  transition: background 0.3s;
  white-space: nowrap;
}

.input_filter_region ul.submenu li a:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Card grid */
.card_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10%;
  row-gap: 7%;
}

@media screen and (max-width: 470px) {
  .card_grid {
    width: 70%;
    margin: 0 auto;
    row-gap: 2%;
  }
}

.cards {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card_flags {
  width: 100%;
  height: 135px;
}

.card_body {
  font-size: 14px;
  margin: 2rem 1rem;
}

.card_body a {
  text-decoration: none;
  color: #000;
}

.card_body p {
  margin-top: 1rem;
}
